{{!< default}}

    {{#post}}

    <main class="site-content">

        <article class="entry {{post_class}}">

            <header class="entry__header">

                {{#if feature_image}}

                    <div class="entry__image">

                            <figure>
                                {{!-- this "srcset" allows you to apply responsive images so that they are better displayed on different screens --}}
                                <img src="{{img_url feature_image}}" srcset="{{>"srcset"}}"
                                    sizes="(max-width: 1000px) 400px,(max-width: 1170px) 1170px, 2000px"
                                    src="{{img_url feature_image size=" m"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                    class="entry__image--full" />
                                {{#if feature_image_caption}}
                                    <figcaption>{{feature_image_caption}}</figcaption>
                                {{/if}}
                            </figure>

                    </div>

                {{/if}}

                <div class="entry__top entry-top content-width content-width--medium">

                        <div class="entry-top__tags">

                            {{#if featured}}

                                <div class="post-item__featured-mark">
                                    {{>"icons/flash"}}
                                </div>

                            {{/if}}

                            <div class="post-item__visibility visibility--{{visibility}}">
                                {{>"icons/lock"}}
                            </div>

                            {{#foreach tags}}

                                <a href="{{url}}" title="{{name}}" class="entry-top__tag global-tag tag-{{comment_id}} {{slug}}">{{name}}</a>

                            {{/foreach}}

                        </div>

                    <h1 class="entry__title">{{title}}</h1>

                    <div class="entry__meta global-meta">

                        {{#primary_author}}

                            <a href="{{url}}" class="entry__author-link">
                                <img class="entry__author-image" src="{{img_url profile_image}}" alt="{{name}}" />
                            </a>

                            <div class="entry__meta-right">
                                <a class="entry__author-name" href="{{url}}">{{name}}</h4></a>

                        {{/primary_author}}

                                <span class="entry__date">{{date published_at timeago="true"}}</span>
                                <span class="entry__reading-time"> • {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                            </div>

                    </div>
                </div>
            </header>

            <section class="entry__content content-width content-width--small">

                {{content}}

                <footer class="entry__footer entry-footer">

                    {{!-- partials/share-post.hbs --}}
                    {{> "share-post"}}

                    <div class="entry-footer__next-prev">

{{!< default}}

    {{#post}}

    <main class="site-content">

        <article class="entry {{post_class}}">

            <header class="entry__header">

                {{#if feature_image}}

                    <div class="entry__image">

                            <figure>
                                {{!-- this "srcset" allows you to apply responsive images so that they are better displayed on different screens --}}
                                <img src="{{img_url feature_image}}" srcset="{{>"srcset"}}"
                                    sizes="(max-width: 1000px) 400px,(max-width: 1170px) 1170px, 2000px"
                                    src="{{img_url feature_image size=" m"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                    class="entry__image--full" />
                                {{#if feature_image_caption}}
                                    <figcaption>{{feature_image_caption}}</figcaption>
                                {{/if}}
                            </figure>

                    </div>

                {{/if}}

                <div class="entry__top entry-top content-width content-width--medium">

                        <div class="entry-top__tags">

                            {{#if featured}}

                                <div class="post-item__featured-mark">
                                    {{>"icons/flash"}}
                                </div>

                            {{/if}}

                            <div class="post-item__visibility visibility--{{visibility}}">
                                {{>"icons/lock"}}
                            </div>

                            {{#foreach tags}}

                                <a href="{{url}}" title="{{name}}" class="entry-top__tag global-tag tag-{{comment_id}} {{slug}}">{{name}}</a>

                            {{/foreach}}

                        </div>

                    <h1 class="entry__title">{{title}}</h1>

                    <div class="entry__meta global-meta">

                        {{#primary_author}}

                            <a href="{{url}}" class="entry__author-link">
                                <img class="entry__author-image" src="{{img_url profile_image}}" alt="{{name}}" />
                            </a>

                            <div class="entry__meta-right">
                                <a class="entry__author-name" href="{{url}}">{{name}}</h4></a>

                        {{/primary_author}}

                                <span class="entry__date">{{date published_at timeago="true"}}</span>
                                <span class="entry__reading-time"> • {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                            </div>

                    </div>
                </div>
            </header>

            <section class="entry__content content-width content-width--small">

                {{content}}

                <footer class="entry__footer entry-footer">

                    {{!-- partials/share-post.hbs --}}
                    {{> "share-post"}}

                    <div class="entry-footer__next-prev">
                        {{#prev_post}}
                            <div class="entry-footer__prev">
                                <a href="{{url}}">{{title}}</a>
                            </div>
                        {{/prev_post}}

                        {{#next_post}}
                            <div class="entry-footer__next">
                                <a href="{{url}}">{{title}}</a>
                            </div>
                        {{/next_post}}
                    </div>

                </footer>

            </section>

        </article>

        {{!-- partials/related-posts.hbs --}}
        {{> "related-posts"}}

    </main>

    {{/post}}


    {{!-- scroll-to-top button & progress bar reading --}}
    <div class="progress">
        <button class="scroll-top">
            {{>"icons/scroll-top"}}
        </button>
    </div>
                    </div>

                </footer>

            </section>

        </article>

        {{!-- partials/related-posts.hbs --}}
        {{> "related-posts"}}

    </main>

    {{/post}}


    {{!-- scroll-to-top button & progress bar reading --}}
    <div class="progress">
        <button class="scroll-top">
            <svg viewBox="0 0 447.243 447.243" width="1.5em" height="1.5em" style="enable-background:new 0 0 447.243 447.243" xml:space="preserve"><path d="M409.217 172.662a32.018 32.018 0 0 0-2.754-3.276l-160-160c-12.49-12.505-32.751-12.516-45.254-.026l-.025.025-160 160c-12.479 12.514-12.451 32.775.063 45.255a32.084 32.084 0 0 0 3.137 2.745c13.381 8.971 31.276 7.013 42.4-4.64l88.64-88.32a64.002 64.002 0 0 0 11.68-16l4.32-9.6v314.24c-.607 16.347 10.812 30.689 26.88 33.76 17.445 2.829 33.881-9.019 36.71-26.465.297-1.83.434-3.682.41-5.535V99.305l3.2 6.88a63.998 63.998 0 0 0 12.8 18.08l88.48 88.48c11.124 11.653 29.019 13.611 42.4 4.64 14.259-10.441 17.354-30.464 6.913-44.723z"/></svg>
        </button>
    </div>
