{{!< ../default}}

<main class="site-content">
    
    <section class="signin">

        <div class="signin__inner content-width content-width--small">

            {{!-- Not logged in: Signin form --}}
            <form class="signin__form" data-members-form="signin">
                <h1 class="signin__title">{{t "Welcome back!"}}</h1>
                <p>{{t "Sign into your account again for full access"}}</p>
                <div class="signin__box members">
                    <input data-members-email type="email" placeholder="{{t "Your email address"}}" required="true" autocomplete="false" />
                    <button class="signin__button signin-button members-button" type="submit">
                        <span class="signin-button__content members-button__content">{{t "Send login link"}}</span>
                        <span class="signin-button__loader members-button__loader">{{>"icons/spinner"}}</span>
                    </button>

                    <div class="signin__message-success members__message-success">{{t "Great! Check your inbox and click the link to complete signin"}}</div>
                    <div class="signin__message-error members__message-error">{{t "Please enter a valid email address!"}}</div>
                </div>

                <p><small>Don't have an account yet? <a href="{{@site.url}}/signup/">{{t "Sign up →"}}</a></small></p>
            </form>
        
        </div>

    </section>

</main>

